<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Main Tests">
    <classes>
      <class name="mobileAutomation.ExerciseProject.AndroidBasics"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Secondary Tests">
    <classes>
      <class name="mobileAutomation.ExerciseProject.OtherTests"/>
    </classes>
  </test> <!-- Test -->
  
      <test thread-count="5" name="Assertion Tests">
    <classes>
      <class name="mobileAutomation.ExerciseProject.AssertionTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="iOS Tests">
    <classes>
      <class name="mobileAutomation.ExerciseProject.iOSBasics"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
